#module_content ul, h6{
	margin: 10% 10%;
	text-align: center;
}

#module_content li:nth-of-type(12){
	border-top: 1px solid #12520e;
	border-width: 50%;
}

li a, li a:hover{
	text-decoration: none;
}

li a:active, li a:focus{
	text-decoration: bold;
}

.embed-responsive{
	margin-top: 10px;
}

h6 a, h6 a:hover{
	color: #720309;
}

#module_quiz{
	background-color: white;
	margin: 0 2%;
}

#module_quiz a{
	color: #720309;
}

#iframe_desc p{
	margin-bottom: 1px;
	font-size: 13px;
}

#module_questions{
	margin-top: 5%;
}