html, body {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}


header{
	background-color: #720309;
	color: #fff;
}

.btn-primary, .btn-block{
	background-color: #720309;
	border-color: #720309;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
	background-color: #991118;
	border-color: #720309;
}

.jumbotron{
	margin-bottom: 0;
}

.no-gutters img{
	width: 1500px;
}

li a{
	text-decoration: underline;
	color: #720309;
}

a{
	color: #720309;
}

li a:hover, a:hover{
	color: #991118;
}