body{
	margin: 2%;
}

.container{
	margin-top: 100px;
}

.table{
	margin-left: 5%;
	margin-top: 30px;
	max-width: 90%;
	table-layout: fixed;
}

table a{
	color: #720309;
}

table a:hover{
	color: #991118;
}

td:nth-of-type(3) {
	white-space:pre-wrap;
  word-wrap: break-word;
  text-align: left;
}

.container .btn-lg{
	border-radius: 15px;
	border: none;
	margin: 10px 0;
	padding: 5px 20px;
	background-color: #222;
}

.float-right{
	z-index: -1;
}

#final_exam_score{
	font-size: 20px;
	display: inline-block;
	border: 1px solid #777;
	padding: 10px 20px;
}

@media print {
  .float-right, #go_final, .container .btn-lg, .btn-sm {
    display: none;
  }
	.col-sm-2,td {
  	float: left;
  	width: 16.666666666666664%;
	}
	.col-sm-8,td:nth-of-type(3) {
  	float: left;
  	width: 66.66666666666666%;
	}
}