.container{
	border-top: 10px solid #720309;
	border-radius: 10px;
	padding: 2%;
	background-color: #fff
}

form{
	margin-left: 5%;
}

form div{
	padding: 5px;
}

form label{
	text-align: right;
}

#fname, #mname{
	margin-left: 1px;
}

small{
	font-size: 11px;
}

.form-check-inline{
	margin-left: 1%;
}

.jumbotron, body{
	background-color: #eee;
}

.success-message{
	display: none;
}

@media (min-width: 1200px) {
    label.lead { font-size: 1.1rem; }
}
@media (min-width: 1600px) {
    label.lead { font-size: 1.25rem; }
}
